@let details = this.listDetails.value()!; @let isLoading =
this.listDetails.isLoading(); @let members = this.members.value()!;

<div class="list-details-container">
  @if(isLoading) {
  <ion-progress-bar type="indeterminate"></ion-progress-bar>
  } @else if(!!details && !!details.id) { @let moviesToWatch =
  this.moviesToWatch.value(); @let watchedMovies = this.watchedMovies.value();
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button default-href="#"></ion-back-button>
      </ion-buttons>
      <ion-title>{{details.name}}</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="openUpdateDialog()">
          <ion-icon slot="icon-only" name="pencil"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-toolbar>
      <ion-segment value="da_vedere">
        <ion-segment-button value="da_vedere" content-id="da_vedere">
          <ion-label class="small">Da Vedere</ion-label>
        </ion-segment-button>
        <ion-segment-button value="visti" content-id="visti">
          <ion-label class="small">Visti</ion-label>
        </ion-segment-button>
        <ion-segment-button value="settings" content-id="settings">
          <ion-label class="small">Impostazioni</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>
  <ion-segment-view>
    <ion-segment-content id="da_vedere">
      <ion-content>
        @if(moviesToWatch && moviesToWatch.length > 0) {
        <app-movie-list [movies]="moviesToWatch" [total]="moviesToWatch.length"></app-movie-list>
        } @else {
        <div class="no-movies-banner">
          <ion-icon name="sentiment_dissatisfied"></ion-icon><span>Nessun film da vedere.</span>
          <span style="font-size: 0.9rem">Inizia cercando un film da aggiungere alla lista!</span>
        </div>
        }
      </ion-content>
    </ion-segment-content>
    <ion-segment-content id="visti">
      <ion-content>
        @if(watchedMovies && watchedMovies.length > 0) {
        <app-movie-list [movies]="watchedMovies" [total]="watchedMovies.length"></app-movie-list>
        } @else {
        <div class="no-movies-banner">
          <ion-icon name="sentiment_dissatisfied"></ion-icon><span>Nessun film ancora visto.</span>
          <span style="font-size: 0.9rem">Inizia cercando un film da aggiungere alla lista!</span>
        </div>
        }
      </ion-content>
    </ion-segment-content>
    <ion-segment-content id="settings">
      <app-list-page-settings [details]="details" [members]="members" (exitListFn)="exitList()"
        (updateListNameFn)="openUpdateDialog()"></app-list-page-settings></ion-segment-content>
  </ion-segment-view>

  } @else {
  <div class="list-error">
    <ion-icon name="sentiment_dissatisfied"></ion-icon>
    <h4>Errore! Lista non trovata.</h4>
  </div>
  }
</div>