@let details = this.listDetails.value()!; @let isLoading =
this.listDetails.isLoading(); @let members = this.members.value()!;

<div class="list-details-container">
  @if(isLoading) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  } @else if(!!details && !!details.id) { @let moviesToWatch =
  this.moviesToWatch.value(); @let watchedMovies = this.watchedMovies.value();
  <mat-toolbar>
    <button (click)="location.back()" mat-icon-button class="example-icon">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <div class="movie-title">
      <span>{{ details.name }}</span>
    </div>

    <button
      class="ms-auto"
      mat-icon-button
      (click)="openUpdateDialog()"
      aria-label="edit-button"
    >
      <mat-icon>edit</mat-icon>
    </button>
  </mat-toolbar>
  <mat-tab-group preserveContent dynamicHeight="true">
    <mat-tab label="Da Vedere">
      @if(moviesToWatch && moviesToWatch.length > 0) {
      <app-movie-list [movies]="moviesToWatch"></app-movie-list>
      } @else {
      <div class="no-movies-banner">
        <mat-icon>sentiment_dissatisfied</mat-icon
        ><span>Nessun film da vedere.</span
        ><span style="font-size: 0.9rem"
          >Cerca un film da aggiungere alla lista.</span
        >
      </div>
      }
    </mat-tab>
    <mat-tab label="Visti">
      @if(watchedMovies && watchedMovies.length > 0) {
      <app-movie-list [movies]="watchedMovies"></app-movie-list>
      } @else {
      <div class="no-movies-banner">
        <mat-icon>sentiment_dissatisfied</mat-icon
        ><span>Nessun film ancora visto.</span>
      </div>
      }
    </mat-tab>
    <mat-tab label="Impostazioni">
      <app-list-page-settings
        [details]="details"
        [members]="members"
        (exitListFn)="exitList()"
        (updateListNameFn)="openUpdateDialog()"
      ></app-list-page-settings>
    </mat-tab>
  </mat-tab-group>
  } @else {
  <div class="list-error">
    <mat-icon>sentiment_dissatisfied</mat-icon>
    <h4>Errore! Lista non trovata.</h4>
  </div>
  }
</div>
