.list-title {
  font-size: 2rem;
  font-weight: 500;
  padding-top: 24px;
  padding-bottom: 12px;
  text-align: center;
  background-color: var(--card-background-color) !important;
}

.app-name {
  font-size: 2.5rem;
  font-weight: 500;
}

.no-movies-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.5rem;
  color: #6c757d;
  text-align: center;
  padding: 2rem;

  & mat-icon {
    scale: 2;
    margin-bottom: 2rem;
  }
}

::ng-deep .mat-mdc-tab-body-content {
  max-height: calc(100vh - 60px - 56px - 48px) !important;
}

.list-error {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(192, 192, 192);
  gap: 1rem;

  & mat-icon {
    scale: 2;
  }
}

mat-toolbar {
  background: var(--card-background-color) !important;
}
