.menu-title {
    font-size: 1.5rem;
    font-weight: 400;
}

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #2C2C2C;
    height: 100%;
}