.loading-page {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-info-container {
  padding: 0rem 0.6rem;
}

.movie-details-container {
  overflow-y: auto;
}

button.floating-button {
  position: static;
  bottom: 20px;
  right: 20px;
  z-index: 1500;
}

.image-container {
  display: flex;
  justify-content: center;
}

.backdrop-img {
  z-index: 1;
  position: sticky;
  top: 0px;

  & img {
    width: 100%;
    height: auto;
  }
}

.see-more-btn {
  padding: 0px !important;
  background: none !important;
}

.trailer {
  width: 560px;
  max-width: 100%;
  border-radius: 1rem;
  aspect-ratio: 16 / 9;
  border: none;
}

.movie-info {
  display: flex;
  align-items: center;
  margin-top: 1rem;

  & p {
    margin-left: 1rem;
    margin-bottom: 0px;
  }
}

.genre-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem;
  justify-content: center;
}

.genre-tag {
  background: var(--card-background-color);
  color: white;
  padding: 0.3rem 0.6rem;
  text-align: center;
  border-radius: 10px;
  font-size: 0.9rem;

  & a {
    color: white !important;
    text-decoration: none;
  }
}

.director-container {
  padding-left: 0.8rem;
  margin-top: 1rem;

  & span {
    color: #d1d1d1;
    margin-right: 0.6rem;
  }

  & a {
    font-weight: 500;
    color: var(--ion-color-primary);
    font-size: 1rem;
    text-decoration: none;
  }
}

.movie-overview {
  padding: 0rem 0.8rem;
  text-align: justify;
  line-height: 1.6;
  font-size: 1rem;
}

.header {
  background-color: var(--card-background-color);
}

.image-placeholder {
  width: 120px;
  height: 180px;
  border-radius: 10px;
  background-color: var(--card-background-color);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  color: #b1b1b1;
}

.review-list {
  display: flex;
  justify-content: center;
  width: 100%;

  & .review {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .label {
      font-size: .9rem;
      color: gray;
    }
  }

  & ion-button {
    --padding-start: 1.2rem !important;
    --padding-end: 1.2rem !important;
    font-size: 1.2rem !important
  }

  & ion-button:first-child {
    --border-radius: 20px 0px 0px 20px !important;
  }

  & ion-button:last-child {
    --border-radius: 00px 20px 20px 0px !important;
  }
}

.add-review {
  display: flex;
  justify-content: space-evenly;
}

.movie-title {
  max-width: 100%;
  white-space: pre-wrap;
  /* Webkit */
  white-space: -moz-pre-wrap;
  /* Firefox */
  white-space: -pre-wrap;
  /* Opera <7 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* IE */
  text-wrap-style: stable;
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.director-link {
  text-decoration: none;
  font-weight: 500;
}

.cast-list {
  display: flex;
  flex-wrap: wrap;
  gap: .6rem;
  justify-content: space-around;
}

.cast-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 150px;

  & .actor-name {
    margin-top: 0.8rem;
  }

  & .actor-role {
    font-weight: 0.8rem;
    color: gray;
  }
}

.profile-picture-placeholder {
  border-radius: 20%;
  width: 100px;
  height: 150px;
  background-color: var(--card-background-color);
}

.list-button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 1000;
}

.provider-list {
  width: 100%;
  display: flex;
  overflow-x: auto;
  gap: 1rem;

  & .provider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .6rem;

    & .watch-type {
      font-size: .8rem;
      color: gray;
      text-align: center;
    }

    & .provide-img {
      min-width: 60px;
      max-width: 60px;
      height: auto;
      border-radius: 20px;
    }
  }
}