:host {
  display: block;
}

.form {
  text-align: center;
}


.brand {
  text-align: center;
  margin-bottom: 1.2rem;
}

.logo {
  max-width: 100px;
  height: auto;
}

.loading {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.title {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 1.2rem;
  margin-bottom: auto;
  text-align: center;

  & .title-1 {
    font-size: 2 0.2rem;
    color: darkred;
    font-weight: 600;
  }
}

.login-link {
  & a {
    color: gray !important;
    font-size: 0.9rem;
  }
  margin-top: 1rem;
}

ion-input {
  --border-width: 0 !important;
  --border-color: transparent !important;
  --highlight-color-invalid: transparent !important;
  --highlight-color-valid: transparent !important;
  --highlight-height: 0 !important;
  --border-radius: 10px !important;
  --background: #211f26e4 !important;
  --padding-start: 1rem !important;
  --padding-end: 1rem !important;
  --padding-top: 1rem !important;
  --padding-bottom: 1rem !important;
  text-align: start !important;
  margin-bottom: 1rem;
  min-width: 300px;

  &[type="password"] {
    --padding-bottom: 0.1rem !important;
    --padding-top: 0.1rem !important;
  }
}
