<ion-header>
    <ion-toolbar>
        <ion-title>Cambio Password</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="close()"  size="small" [disabled]="!form.valid">Conferma</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="p-3 h-100">
        <form [formGroup]="form">
            <ion-list class="transparent" lines="none">
                <ion-item>
                    <ion-input label="Password Attuale"  type="password" formControlName="oldPassword">
                        <ion-input-password-toggle slot="end"></ion-input-password-toggle></ion-input>
                </ion-item>
                <ion-item>
                    <ion-input label="Nuova Password"  type="password" formControlName="newPassword">
                        <ion-input-password-toggle slot="end"></ion-input-password-toggle></ion-input>
                </ion-item>
            </ion-list>
        </form>
        <div class="p-2 password-rules">
            <p>La nuova password deve contenere almeno: </p>
            <ul>
                <li>
                    Una lettera maiuscola (A-Z)
                </li>
                <li>
                    Una lettera minuscola (a-z)
                </li>
                <li>
                    Un numero (0-9)
                </li>
                <li>
                    Un simbolo (es. ! &#64; # $ % ^ & *)
                </li>
            </ul>
        </div>
    </div>
</ion-content>