.container {
  overflow-y: auto;
  padding-top: 56px !important;
}

.list-title {
  font-size: 2rem;
  font-weight: 500;
  padding-top: 24px;
  padding-bottom: 12px;
  text-align: center;
  background-color: var(--card-background-color) !important;
}

.app-name {
  font-size: 2.5rem;
  font-weight: 500;
}

.no-movies-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.5rem;
  color: #6c757d;
  text-align: center;
  padding: 1.2rem;
}

.list-error {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(192, 192, 192);
  gap: 1rem;
}

.shared-section {
  font-size: 0.9rem;
  color: gray;
  font-weight: 500;
  margin-left: 1rem;
}

.watched-filter {
  position: sticky;
  top: 0px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.2rem;

  & ion-segment {
    background: var(--button-color);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    width: 300px;
  }
}

.movie-count {
  margin-left: 0.6rem;
}

ion-segment-content {
  overflow-y: hidden;
}

ion-content {
  --overflow: hidden !important;
  --offset-bottom: 100px !important;
}

.info-section {
  padding: .6rem;
  padding-top: 1rem;
  justify-content: center;
  border-radius: 30px;
  display: flex;
  flex-direction: column;

  & .info {
    display: flex;
    justify-content: space-evenly;

    & div {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      text-align: center;

      & .info-label {
        font-size: 0.8rem;
        color: gray;
      }

      & .info-value {
        font-size: 1.4rem;
        font-weight: 500;
      }
    }
  }

  & .actions {
    margin-top: 1rem;
    display: flex;

    & ion-button {
      --border-radius: 40px !important;
      --box-shadow: none !important;
    }
  }
}

ion-segment-view {
  overflow-y: hidden;
  height: min-content !important;
}

ion-segment-content {
  height: min-content !important;
  overflow-y: hidden;
}
