<div class="title">
  <h3>{{ "dialogs.movieReview.labels.title" | translate }}</h3>
  <p>{{ "dialogs.movieReview.labels.subtitle" | translate }}</p>
</div>
<div class="vote-container">
  <ion-button fill="clear" size="large" (click)="this.reviewFilm(-1)">
    👎
  </ion-button>
  <ion-button fill="clear" size="large" (click)="this.reviewFilm(1)">
    👍
  </ion-button>
</div>
<ion-button
  class="m-2"
  color="white"
  fill="clear"
  (click)="this.dialog.dismiss(null, 'confirm')"
  >{{ "dialogs.movieReview.buttons.votaDopo" | translate }}</ion-button
>
