@let movie = this.movie() | async;

<div class="movie-container">
    @if(!heroLoaded) {
    <div class="placeholder"></div>
    }
    @if(movie) {
    <img class="movie-image" [src]="movie.backdrop_path" [alt]="movie.title" (load)="heroLoaded = true"
        [hidden]="!heroLoaded">

    <div class="movie-overlay"></div>
    <div class="movie-info">
        <div class="d-flex align-items-center">
            @if(showPoster()) {
                <img [src]="movie.poster_path" class="movie-poster me-2">
            }
            <div class="flex-grow-1">
                <div class="d-flex align-items-center justify-content-between">
                    <h2 class="movie-title">{{ movie.title }}</h2>
                    <div>
                        @if(!hideDetailsButton()) {
                        <button mat-flat-button matIcon [routerLink]="['/movies', movie.id]"
                            class="details-button ms-2">Dettagli
                            <mat-icon iconPositionEnd>chevron_right</mat-icon></button>
                        }
                    </div>
                </div>
                <div class="d-flex">
                    <mat-icon class="me-1">star_outline</mat-icon>
                    <p class="movie-meta">{{movie.vote_average | number : "1.0-1":'en' }} • {{ movie.release_date |
                        date:'mediumDate'}}{{ hideDescription()? '' : (' • ' + movie.genres[0].name) }}
                    </p>
                </div>
            </div>
        </div>
        @if(!hideDescription()) {
        <p class="movie-description limit">{{ movie.overview }}</p>
        }
    </div>
    }
</div>