@let searchResult = this.result.value();

<div class="search-page-container">
  <div class="header">
    @if(this.searchQuery()) {
    <ion-button ion-icon-button class="back-button" @showBackButton (click)="location.back()">
      <ion-icon name="chevron_left"></ion-icon>
    </ion-button>
    }
    <form (ngSubmit)="search()" [formGroup]="queryForm" class="search-form">
      <mat-form-field appearance="fill" class="search-field" floatLabel="auto">
        <input matInput placeholder="Cerca..." formControlName="query" />
        @if(!!queryForm.get('query')?.value) {
        <ion-icon matSuffix (click)="this.queryForm.reset()" name="cancel"></ion-icon>
        } @else {
        <ion-icon matSuffix name="search"></ion-icon>
        }
      </mat-form-field>
    </form>
  </div>

  @if(this.result.isLoading() || (searchResult && searchResult.results.length >
  0)) {<app-movie-list-dynamic [(currentPage)]="currentPage" [searchResult]="this.result.value()" [paddingTop]="100"
    [isLoading]="this.result.isLoading()"></app-movie-list-dynamic>
  } @else if(searchResult && searchResult.results.length === 0) {
  <div class="no-movies-banner">
    <ion-icon name="sentiment_dissatisfied"></ion-icon><span></span>
    <span>Nessun risultato trovato.</span>
  </div>
  } @else {
  <div class="no-search">
    <div class="row genre-list">
      @for(genre of genres | async; track genre[0]) {
      <ion-button  (click)="navigateToGenre({ id: genre[0], name: genre[1] })" class="col-6 col-sm-4 mx-0 mt-2"
        style="color: white" color="light">
        {{ genre[1] }}
      </ion-button>
      }
    </div>
  </div>
  }
</div>