<ion-header>
    <ion-toolbar>
        <ion-title>Unisciti ad una Lista</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="close()"  size="small" [disabled]="!form.valid">Conferma</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<div class="p-3 h-100">
    <p class="description">Inserisci il codice della lista</p>
    <form [formGroup]="form">
        <ion-item>
            <ion-input label="Codice Lista" type="text" formControlName="code"></ion-input>
        </ion-item>
    </form>
</div>