// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
  --ion-color-primary: #FB8500 !important;
  --ion-color-secondary: #023047 !important;
  --ion-color-secondary-contrast: whitesmoke !important;
  --ion-toolbar-background: rgb(0, 0, 0, 0.4) !important;
  --ion-background-color: #0d0d0d !important;
  --ion-item-background: #1c1c1e !important;
  --card-background-color: #1c1c1e;
  --container-background-color: #0d0d0d;
  --card-primary-color: #ffc9c9;
  --background-color: #0d0d0d;
  --ion-tab-bar-background: #0d0d0d !important;
  --ion-tab-bar-border-color: none !important;
  --highlight-color-invalid: darkred !important;
  --bs-heading-color: whitesmoke !important;
}

ion-input.search-field {
  --border-width: 0 !important;
  --border-color: transparent !important;
  --highlight-color-invalid: transparent !important;
  --highlight-color-valid: transparent !important;
  --highlight-height: 0 !important;
  --border-radius: 10px !important;
  --background: #211f26e4 !important;
  --padding-end: 1rem;
  --padding-start: 1rem;
  text-align: start !important;
}

.transparent {
  --background: transparent !important;
  background: transparent !important;
}

a {
  color: var(--ion-color-primary) !important;
}
