@let members = (this.members() | async)!;

<ion-list>
  @for(friend of friendList(); track friend.uid) {
  <!-- @let username = getUsername(friend.uid!) | async; -->
  <ion-item>
    <ion-avatar aria-hidden="true" slot="start">
      <img alt="" [src]="userData.getUserAvatar(friend.uid!)" />
    </ion-avatar>
    <ion-label>
      {{ userData.getUsername(friend.uid!) }}
    </ion-label>

    @if(isInList(friend.uid!)) { @if(members[friend.uid!] ===
    MembershipEnum.ACCEPTED) {
    <ion-button
      color="success"
      size="small"
      shape="round"
      (click)="inviteUser(friend.uid!)"
    >
      <ion-icon slot="icon-only" name="check"></ion-icon>
    </ion-button>
    } @else {
    <ion-button
      color="danger"
      size="small"
      shape="round"
      (click)="inviteUser(friend.uid!)"
    >
      <ion-icon slot="start" name="close"></ion-icon>
      {{
        "pages.listDetails.dialogs.inviteUser.buttons.cancelInvitation"
          | translate
      }}
    </ion-button>

    } }
    <ion-button
      color="medium"
      size="small"
      shape="round"
      (click)="inviteUser(friend.uid!)"
    >
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-button>
  </ion-item>
  }
</ion-list>
