ion-list {
  display: flex;
  flex-direction: column;
  gap: .6rem;
  background: transparent;
}

ion-item {
  --border-radius: 10px;
}

.loading-placeholder {
  height: 64px !important;
  animation: shimmer 3s infinite;
  background: linear-gradient(90deg, #141218 25%, #18171c 50%, #18171c 75%);
  background-size: 200% 100%;
}