@if(userLists$ | async; as userLists) {
<ion-button mat-dialog-close><ion-icon>close</ion-icon></ion-button>
<h3 mat-dialog-title>{{this.data.movie.title}}</h3>
<mat-dialog-content>
  <p class="description">Aggiungi o rimuovi il film dalle liste, oppure imposta il film come visto.</p>
  <mat-list class="list-container">
    @for(list$ of userLists; track $index) { @if(list$.listInfo| async; as list) {
    @if(list$.movieStatus | async; as movieStatus) {
    <mat-list-item>
      <!-- <ion-icon matListItemIcon matIconSuffix>folder</ion-icon> -->
      <h3 matListItemTitle>{{ list.name }}</h3>
      <p matListItemLine>
        <span>{{ movieStatus != movieStatusEnum.NOT_IN_LIST ? ("In Lista" + ((movieStatus === movieStatusEnum.WATCHED)?
          ' · Visto' : '')) : "Non In Lista"
          }}</span>
      </p>
      <div matListItemMeta>
        @if(movieStatus != movieStatusEnum.NOT_IN_LIST) { @if(movieStatus === movieStatusEnum.TO_WATCH) {
        <ion-button class="me-2" (click)="setAsWatched(this.data.movie, '-' + list.id)">
          <ion-icon name="visibility"></ion-icon>
        </ion-button>
        }
        <ion-button class="success" ion-icon-button (click)="removeMovieFromList(this.data.movie, '-' + list.id)">
          <ion-icon name="check"></ion-icon>
        </ion-button>
        } @else {
        <ion-button (click)="addMovieToList(this.data.movie, '-' + list.id)">
          <ion-icon name="add"></ion-icon>
        </ion-button>
        }
      </div>
    </mat-list-item>
    }
    @else {
    <mat-list-item class="loading-placeholder"></mat-list-item>
    }
    } }
  </mat-list>
</mat-dialog-content>
}