.movie-container {
  width: 150px;
  border-radius: 10px;
  position: relative;
  text-align: center;
  color: white;
}

img.movie-poster {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.movie-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0px;
  background: transparent;
  width: 100%;
  border-radius: 0px 0px 10px 10px;
  text-align: start;
  padding: 20px 10px;
}

.movie-title {
  font-size: 1.2rem;
  margin-top: 10px;
  color: white;
  flex-basis: 2;
}

.movie-subtitle {
  font-size: 0.9rem;
  color: #a1a1a1;
}

.movie-genre {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: red;
  border-radius: 10px 0px 10px 0px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 500;
}

.movie-ranking {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0px 10px 0px 10px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 500;
}

.add-button {
  flex-grow: 1;
  scale: 1.5;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
