@let countFriendRequests = this.countFriendRequests | async;

<ion-app>
  @if(isDev) {
  <div class="dev-banner">
    <span>DEV</span>
  </div>
  }
  @let user = currentUser$ | async; @if(user && user.emailVerified) {
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home" layout="label-hide">
        <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="search" layout="label-hide">
        <ion-icon aria-hidden="true" name="search"></ion-icon>
        <ion-label>Cerca</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="lists" layout="label-hide">
        <ion-icon aria-hidden="true" name="film-outline"></ion-icon>
        <ion-label>Liste</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="community" layout="label-hide">
        <ion-icon aria-hidden="true" name="people"></ion-icon>
        @if(countFriendRequests && countFriendRequests > 0) {
          <ion-badge color="danger">{{countFriendRequests}}</ion-badge>
        }
      </ion-tab-button>

      <ion-tab-button tab="profile" layout="label-hide">
        <ion-icon aria-hidden="true" name="person"></ion-icon>
        <ion-label>Profilo</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  } @else {
  <ion-router-outlet></ion-router-outlet>
  }
</ion-app>