@if(title(); as title) {
<ion-header class="glass-effect">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>
}
<ion-content>
  @if(currentList.length > 0) {
  <app-movie-list [paddingTop]="!!title() ? 70 : paddingTop()" [movies]="currentList" (loadData)="loadMoreMovies()"
    class="w-100" [isLoading]="isLoading()"></app-movie-list>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="scrollToTop()">
      <ion-icon name="arrow-up-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  } @else if(this.isLoading()) {
  <div class="placeholder-container" [style.padding-top]="(paddingTop()?? 70) + 'px'">
    @for(n of [].constructor(20); track $index) {
    <div class="image-placeholder mb-2"></div>
    }
  </div>
  }

</ion-content>