@let list = this.list();

<div class="list-item" [routerLink]="invitation() ? undefined : '-' + list.id">
  <div>
    <h4>{{ list.name }}</h4>
    <div class="list-meta">
      <div class="listInfo">
        {{ list.moviesCount }} <ion-icon style="color: brown" name="film-outline"></ion-icon>
      </div>
      <div class="listInfo">
        {{ list.membersCount }}
        <ion-icon style="color: aquamarine" name="person"></ion-icon>
      </div>
    </div>
  </div>
  <div>
    @if(invitation()) {
    <ion-button class="danger me-2" ion-icon-button (click)="declineInvitation()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
    <ion-button class="success" ion-icon-button (click)="acceptInvitation()">
      <ion-icon name="check"></ion-icon>
    </ion-button>

    } @else {
    <ion-icon name="chevron-forward"></ion-icon>
    }
  </div>
</div>