.list-item {
  background-color: var(--card-background-color);
  width: 100%;
  border-radius: 10px;
  height: min-content !important;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 1rem;
}

.list-meta {
  color: gray;
  font-size: 0.8rem;
  display: flex;
  align-items: start;
}

::ng-deep div[matlistitemmeta] {
  align-self: center !important;
}

.list-info {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  text-overflow: ellipsis;
}

.list-meta-item {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  gap: 0.3rem;
  font-weight: 500;
  color: gray;
}

.section-description {
  text-align: center;
  font-size: 0.8rem;
  color: gray;
}

.actions {
  ion-button {
    --padding-end: .5rem !important;
    --padding-start: .5rem !important;
  }
}
