app-movie-card {
    justify-items: center
}

.movie-list-container {
    display: flex;
    padding: .6rem;
    flex-wrap: wrap;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    justify-content: space-around;
    // gap: 1rem;
    width: 100%;
    gap: .6rem;
    height: min-content;
    -ms-overflow-style: none;
    overflow-x: hidden;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox, Safari 18.2+, Chromium 121+ */
    height: min-content;

    /* Older Safari and Chromium */
    &.horizontal {
        gap: 1rem;
        height: min-content;
        flex-direction: row;
        overflow-x: auto;
        overflow-y: hidden !important;
        flex-wrap: nowrap;
        justify-content: start;

    }

}

.movie-list-container::-webkit-scrollbar {
    display: none;
}