<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="dialogRef.dismiss()" size="small">Annulla</ion-button>
        </ion-buttons>
        <ion-title>Nuova Lista</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="close()" color="success" [disabled]="!form.valid">Conferma</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<form [formGroup]="form" class="p-3 h-100">
    <ion-item>
        <ion-input label="Nome" labelPlacement="stacked" type="text" placeholder="Nome lista" formControlName="name"
            autofocus="true"></ion-input>
    </ion-item>
</form>