@let account = this.account | async;

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="location.back()">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{
      "pages.settings.labels.impostazioni" | translate
      }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="section-title">
      <h5>{{ "pages.settings.labels.preferenze" | translate }}</h5>
    </div>
    <div class="card-background">
      <ion-list inset="true">
        <ion-item>
          <ion-select label="{{ 'pages.settings.labels.lingua' | translate }}" [value]="this.settings.language.value"
            interface="popover" (ionChange)="changeLanguage($event)">
            @for(l of languages; track $index) {
            <ion-select-option [value]="l">{{
              "lingue." + l | translate
              }}</ion-select-option>
            }
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-toggle [checked]="settings.openFilmOnClick.value" (ionChange)="
              this.settings.openFilmOnClick.value =
                !settings.openFilmOnClick.value
            ">
            {{
            "pages.settings.labels.click"
            | translate
            }}
          </ion-toggle>
        </ion-item>
        <ion-item>
          <ion-toggle [checked]="settings.voteWhenWatched.value" (ionChange)="
              this.settings.voteWhenWatched.value =
                !settings.voteWhenWatched.value
            ">
            {{
            "pages.settings.labels.voto"
            | translate
            }}
          </ion-toggle>
        </ion-item>
      </ion-list>
    </div>
    <div class="section-title">
      <h5>{{ "pages.settings.labels.account" | translate }}</h5>
    </div>
    <div class="card-background">
      <ion-list inset="true">
        <ion-item button="true" detail="false">
          <ion-label>
            {{ "pages.settings.labels.account.username" | translate }}
          </ion-label>
          <div class="metadata-end-wrapper" slot="end">
            <ion-note color="medium">{{account?.displayName || 'tizio'}}</ion-note>
            <ion-icon color="medium" name="chevron-forward"></ion-icon>
          </div>
        </ion-item>
        <ion-item>
          <ion-toggle [checked]="settings.openFilmOnClick.value" (ionChange)="
              this.settings.openFilmOnClick.value =
                !settings.openFilmOnClick.value
            ">
            {{
            "pages.settings.labels.click"
            | translate
            }}
          </ion-toggle>
        </ion-item>
        <ion-item>
          <ion-toggle [checked]="settings.voteWhenWatched.value" (ionChange)="
              this.settings.voteWhenWatched.value =
                !settings.voteWhenWatched.value
            ">
            {{
            "pages.settings.labels.voto"
            | translate
            }}
          </ion-toggle>
        </ion-item>
      </ion-list>
    </div>
    <div class="card-background p-3">
      <div class="d-flex align-items-center mb-3">
        <img class="tmdb-logo" src="assets/tmdb-logo.svg" alt="tmdb-logo" />
        <h5 class="ms-2 mb-0">
          {{ "pages.settings.labels.licenzaDati" | translate }}
        </h5>
      </div>
      <p class="tmdb-data">
        {{ "pages.settings.labels.tmdb" | translate }}
      </p>
    </div>
    <div class="card-background p-3">
      <div class="d-flex align-items-center mb-3">
        <ion-icon name="information-circle-outline" size="large"></ion-icon>
        <h5 class="ms-2 mb-0">
          {{ "pages.settings.labels.about" | translate }}
        </h5>
      </div>
      <div class="text-center">
        <img src="assets/logo-write-dark.png" alt="logo" style="width: 100px;">
      </div>
      <!-- <h5 class="text-center">MovieMates</h5> -->
      <p class="text-center tmdb-data">
        {{ "pages.settings.labels.creatoDa" | translate }}
        <span style="color: var(--ion-color-primary)">tomas97186</span>
        <br />
        {{ "pages.settings.labels.versione" | translate }}
        <span style="color: var(--ion-color-primary)">{{ version }}</span>
      </p>
    </div>
  </div>
</ion-content>