.tmdb-logo {
  width: 30px;
  height: auto;
}

ion-list {
  border-radius: 10px !important;
}

.tmdb-data {
    color: gray;
    font-size: .9rem;
}

.section-title {
  padding-left: .6rem;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.app-details-container {
  color: gray;
  font-size: .9rem;
  text-align: center;
}