@let userInvitations = userInvitations$ | async;
<div class="container">
  <h3 class="mt-4 text-center">Liste Utente</h3>
  <div class="section-description">
    Gestisci le liste di cui fai parte oppure aggiungine di nuove!
  </div>
  <hr>
  @if(userInvitations) { @if(userInvitations.length
  > 0) {
  <div class="invitations-container">
    <h3>Inviti</h3>
    <p class="subtitle">
      Hai degli inviti in sospeso, scegli se accettare o declinare gli inviti
      alle liste.
    </p>
    <mat-list>
      @for(list$ of userInvitations; track $index) { @if(list$ | async; as list)
      { @if(list) {
      <app-user-list-item [list]="list" [invitation]="true"></app-user-list-item>
      } } }
    </mat-list>
  </div>
  } } @if(userLists$ | async; as userLists){ @if(userLists.length > 0) {
  <mat-list>
    @for(list$ of userLists; track $index) { @if(list$ | async; as list) {
    @if(list) {
    <app-user-list-item [list]="list"></app-user-list-item>
    } } }
  </mat-list>
  <app-mat-fab-menu [customIcon]="'add'" [menuButtons]="[
      {
        name: 'Unisciti ad una lista',
        icon: 'person_add',
        fn: this.openJoinDialog.bind(this)
      },
      {
        name: 'Crea una lista',
        icon: 'add',
        fn: this.openCreateDialog.bind(this)
      }
    ]"></app-mat-fab-menu>
  }　@else {
  <app-no-list-page (joinList)="openJoinDialog()" (createList)="openCreateDialog()"></app-no-list-page>
  } }
</div>