@let userInvitations = userInvitations$ | async;
<ion-header>
  <ion-toolbar class="transparent">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="film-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="text-center with-icon">{{
      "pages.userLists.labels.liste" | translate
    }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    <div class="section-description">
      {{ "pages.userLists.labels.descrizione" | translate }}
    </div>
    <hr />
    @if(userInvitations) { @if(userInvitations.length > 0) {
    <div class="invitations-container">
      <h3>
        {{ "pages.userLists.labels.inviti" | translate }}
      </h3>
      <p class="subtitle">
        {{ "pages.userLists.labels.descrizioneInviti" | translate }}
      </p>
      <app-user-list
        [userList]="userInvitations"
        [invitations]="true"
      ></app-user-list>
    </div>
    } } @if(userLists$ | async; as userLists){ @if(userLists.length > 0) {
    <app-user-list [userList]="userLists"></app-user-list>
    <ion-fab slot="fixed" horizontal="end" vertical="bottom">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-button color="secondary" (click)="openJoinDialog(userLists.length)">
          <ion-icon name="people-outline" slot="start"></ion-icon>
          {{ "pages.userLists.buttons.joinLista" | translate }}
        </ion-button>
        <ion-button color="secondary" (click)="openCreateDialog(userLists.length)">
          <ion-icon name="add" slot="start"></ion-icon>
          {{ "pages.userLists.buttons.creaLista" | translate }}
        </ion-button>
      </ion-fab-list>
    </ion-fab>
    }　@else {
    <app-no-list-page
      (joinList)="openJoinDialog(0)"
      (createList)="openCreateDialog(0)"
    ></app-no-list-page>
    } }
  </div>
</ion-content>
