@let userInfo = this.userInfo$ | async;

<!-- <ion-header class="transparent">
  <ion-toolbar class="large">
    <ion-title>
      {{ "pages.profile.labels.profilo" | translate }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/settings">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->
<ion-content>
  <div class="container py-2">
    <div class="user-info">
      <div class="icon-avatar">
        <ion-icon name="person"></ion-icon>
      </div>
      <h6>{{ userInfo?.username }}</h6>
      <p class="bio">Questa è la mia bio di prova.</p>
    </div>
    <div class="info-section">
      <div>
        <div class="info-label">
          {{ "pages.profile.labels.voti" | translate }}
        </div>
        <div class="info-value">
          {{ (userInfo?.likedMovies ?? 0) + (userInfo?.dislikedMovies ?? 0) }}
        </div>
      </div>
      <div>
        <div class="info-label">
          {{ "pages.profile.labels.likes" | translate }}
        </div>
        <div class="info-value">
          {{ userInfo?.likedMovies ?? 0 }}
        </div>
      </div>
      <div>
        <div class="info-label">
          {{ "pages.profile.labels.dislikes" | translate }}
        </div>
        <div class="info-value">
          {{ userInfo?.dislikedMovies ?? 0 }}
        </div>
      </div>
    </div>
  </div>
</ion-content>