@let userInfo = this.userInfo$ | async;

<div class="container">
  <h3 class="text-center mt-4">Profilo</h3>
  <div class="profile-info card-background">
    <div class="profile-item">
      Username <span class="colored-text">{{ userInfo?.username }}</span>
    </div>
    <div class="profile-item">
      Email <span class="colored-text">{{ userInfo?.email }}</span>
    </div>
    <div class="profile-item">
      Liste di cui sei membro<span class="colored-text">{{ userListsCount$ | async }}</span>
    </div>
  </div>
  <div class="actions text-center">
    <ion-button (click)="changeName(userInfo!.username)" color="light">
      <ion-icon name="pencil" slot="start" class="me-2"></ion-icon>Modifica Username
    </ion-button>
    <ion-button (click)="changePassword()" color="light">
      <ion-icon name="ellipsis-horizontal-outline" slot="start" class="me-2"></ion-icon>Modifica Password
    </ion-button>
    <ion-button (click)="signout()" fill="clear" color="danger">
      <ion-icon name="log-out" slot="start" class="me-2"></ion-icon>Logout
    </ion-button>
  </div>
</div>