<div class="login-wrap">
  <div class="app-logo" class="app-logo">
    <img src="assets/logo-write-dark.png" alt="logo" />
  </div>
  <div class="login-container">
    <div class="brand">
      <h1>{{ "pages.login.labels.accedi" | translate | titlecase }}</h1>
      <p class="subtitle">
        {{ "pages.login.labels.inserisciCredenziali" | translate }}
        <br />
        {{ "pages.login.labels.noAccount" | translate }}
        <a routerLink="/signup">{{
          "pages.login.labels.creaAccount" | translate
        }}</a>
      </p>
    </div>

    <form [formGroup]="form" (ngSubmit)="submit()" class="form">
      <ion-input
        labelPlacement="stacked"
        label="{{ INPUTS.EMAIL | translate }}"
        type="email"
        placeholder="test@email.com"
        formControlName="email"
      >
      </ion-input>

      <ion-input
        labelPlacement="stacked"
        label="{{ INPUTS.PASSWORD | translate }}"
        type="text"
        placeholder="{{
          PLACEHOLDERS.PASSWORD
            | translate : { minLength: validations.password.minLength }
        }}"
        formControlName="password"
      >
        <ion-input-password-toggle slot="end"></ion-input-password-toggle
      ></ion-input>

      <ion-button
        class="w-100"
        type="submit"
        [disabled]="form.invalid || loading()"
      >
        @if(loading()) {
        <ion-spinner></ion-spinner>
        <span>{{ "pages.login.buttons.accessoInCorso" | translate }}</span>
        } @else { {{ "pages.login.buttons.accedi" | translate }} }
      </ion-button>
      <div class="pwd-reset-link">
        <a routerLink="/password-reset">{{
          "pages.login.labels.passwordDimenticata" | translate
        }}</a>
      </div>
      <!-- <div class="separator">
        <div class="separator-line"></div>
        <div class="separator-content">
          <mark
            ><span class="separator-label false">{{
              "shared.labels.oppure" | translate | titlecase
            }}</span></mark
          >
        </div>
      </div>
      <ion-button
        class="mt-2 google-button"
        (click)="loginWithGoogle()"
        color="medium"
        fill="outline"
      >
        <img src="assets/google-logo.svg" slot="start" class="google-logo" />
        {{ "pages.login.buttons.google" | translate }}
      </ion-button> -->
    </form>
  </div>
</div>
