<div class="login-wrap">
  <!-- <div class="text-center">
    <img src="assets/logo.png" class="logo" />
  </div> -->
  <div class="title mb-2">
    <span class="title-1">M</span><span class="title-2">ovie</span>
    <span class="title-1"> M</span><span class="title-2">ates</span>
  </div>
  <div class="login-container">
    <div class="brand">
      <h1>Accedi</h1>
      <p class="subtitle">Inserisci le tue credenziali per continuare</p>
    </div>

    <form [formGroup]="form" (ngSubmit)="submit()" class="form">
      <ion-input
        label="Email"
        type="email"
        placeholder="test@email.com"
        formControlName="email"
      >
      </ion-input>

      <ion-input
        label="Password"
        type="password"
        placeholder="Minimo 8 caratteri"
        formControlName="password"
      >
        <ion-input-password-toggle slot="end"></ion-input-password-toggle
      ></ion-input>

      <ion-button
        color="primary"
        class="w-100"
        type="submit"
        [disabled]="form.invalid || loading()"
      >
        <ng-container *ngIf="!loading(); else loadingTpl">Accedi</ng-container>
      </ion-button>
      <ng-template #loadingTpl>
        <span class="loading">
          <ion-spinner></ion-spinner>
          <span>Accesso in corso...</span>
        </span>
      </ng-template>
    </form>

    <!-- <p class="hint">Utente demo: <code>demo.prova.com</code> / <code>password123</code></p> -->
  </div>
</div>
