.actions {
    width: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}


.text-description {
    font-size: 1.2rem;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

.colored-text {
    color: var(--card-primary-color);
}

.code-list-container {
    margin-top: 1.2rem;
    font-size: large;
    text-align: center;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.2rem;
    border-radius: 10px;
    border: 3px dashed rgb(182, 171, 171);
    color: var(--card-primary-color);
    display: flex;
    align-items: center;
    background: var(--ion-background-color);
}

.code-description {
    margin-top: 1.2rem;
    color: #a7a7a7;
    font-size: medium;
}