.actions {
  width: 100%;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.text-description {
  font-size: 1.1rem;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.colored-text {
  color: var(--card-primary-color);
}

.code-list-container {
  text-align: center;
  align-items: center;
  justify-content: space-between;
  padding-right: 0rem;
  padding-left: .6rem;
  border-radius: 10px;
  background-color: var(--card-background-color);
  display: flex;

  
}
.code-description {
  margin-top: 1.2rem;
  color: #a7a7a7;
  font-size: small;
}

.statistics {
  display: flex;
  justify-content: space-evenly;

  & div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    & .statistic-label {
      font-size: 0.8rem;
      color: gray;
    }

    & .statistic-value {
      font-size: 1.2rem;
      font-weight: 500;
    }
  }
}
$avatar-colors: #e53935,
  // rosso
  #fb8c00,
  // arancione
  #fdd835,
  // giallo
  #43a047,
  // verde
  #1e88e5,
  // blu
  #8e24aa,
  // viola
  #00acc1,
  // teal
  #6d4c41,
  // marrone
  #ec407a,
  // rosa
  #c0ca33; // lime

.avatar {
  text-align: center;
  display: flex;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

@for $i from 1 through length($avatar-colors) {
  .avatar-#{$i} {
    background: nth($avatar-colors, $i);
  }
}

ion-list {
  border-radius: 10px !important;
}
