@let currentUser = this.authService.currentUser$ | async; @let details =
this.details()!; @let members = this.members();

<div class="container pb-4">
  <div class="text-description">Codice Lista</div>
  <div class="code-list-container">
    {{ details.id }}
    <ion-icon class="ms-2" (click)="copyToClipboardNotification()" [cdkCopyToClipboard]="details.id!"
      [cdkCopyToClipboardAttempts]="2" name="clipboard-outline" size="medium"></ion-icon>
  </div>
  <div class="code-description">
    Condividi questo codice con i tuoi amici per unirsi alla lista.
  </div>
  <div class="text-description">Dettagli Lista</div>
  <div class="statistics card-background">
    <ion-list [inset]="true">
      <ion-item>
        <ion-label>
          Film nella lista:
        </ion-label>
        <span class="colored-text fw-bold">{{ details.moviesCount }}</span>
      </ion-item>
      <ion-item>
        <ion-label>
          Film da vedere:
        </ion-label>
        <span class="colored-text fw-bold">{{
          details.moviesCount - details.watchedMovies
          }}</span>
      </ion-item>
      <ion-item>
        <ion-label>
          Film visti:
        </ion-label>
        <span class="colored-text fw-bold">{{ details.watchedMovies }}</span>
      </ion-item>
    </ion-list>
  </div>
  <div class="text-description">Membri della lista</div>
  <div class="card-background">
    <ion-list [inset]="true">
      @for(member$ of members; track $index) { @if(member$ | async; as member ){
      <ion-item>
        <ion-label>{{ member.username || "Sconosciuto" }} @if(member.uid ===
          currentUser?.uid) { (Tu) }</ion-label>
        @if(member.uid === details.createdBy) {
        <ion-icon slot="end" name="star-outline"></ion-icon>
        }
      </ion-item>
      }}
    </ion-list>
  </div>
  <div class="actions">
    <ion-button (click)="this.openInviteUserDialog()" color="light">
      <ion-icon name="person-add-outline" slot="start"></ion-icon> Invita utente
    </ion-button>
    @if(currentUser?.uid === details.createdBy) {
    <ion-button (click)="deleteList()" fill="clear" color="danger">
      <ion-icon name="trash" slot="start"></ion-icon>Elimina lista
    </ion-button>
    } @else {
    <ion-button (click)="exitListFn.emit()" fill="clear" color="danger">
      <ion-icon name="log-out" slot="start"></ion-icon>Abbandona
    </ion-button>
    }
  </div>
</div>